<div class="progress">
    <div class="progress-bar progress-bar-success" style="width: <?php echo $porcentagem; ?>%">
        <span class="sr-only">Instalação <?php echo $porcentagem; ?>% completa.</span>
    </div>
</div>
