<div class="row">
    <div class="col-xs-12">
        <?php echo $this->Html->link($this->Html->tag('span', '', array('class' => 'glyphicon glyphicon-circle-arrow-left')).' Voltar', array('action' => 'index'), array('class' => 'btn btn-default', 'escapeTitle' => false)); ?>
    </div>
</div>
