<div class="row">
    <div class="col-xs-12">
        <h2>Adicionar Novo Contato</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
    <?php
        echo $this->Form->create('Contato');
            echo $this->element('forms/contato');
        echo $this->Form->end('Adicionar');
    ?>
    </div>
</div>
<?php echo $this->element('layout/voltar_ao_index'); ?>
