/* Geral */
* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
    background-color: #F4F4F4;
    font-size: 15px;
}

/* Links */
a,
a:visited {
    color: #666666;
    text-decoration: underline;
}

a:active,
a:hover {
    color: #666666;
    text-decoration: none;
}

a.pdf {
    display: inline-block;
    line-height: 20px;
    background: url(/img/pdf.png) center left no-repeat;
    padding-left: 25px;
}

.remover_arquivo {
    float: left;
    text-decoration: none;
}

.remover_arquivo > img {
    width: 20px;
    height: auto;
}

#adicionar_arquivo {
    text-decoration: none;
    margin-bottom: 10px;
}

/* Títulos */
h2 {
    color: #333333;
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
    text-align: right;
    text-transform: uppercase;
    padding-right: 25px;
}

@media all and (max-width: 767px) {
    h2 {
        text-align: center;
        padding: 0;
        min-height: 0;
    }
}

h3 {
    border-bottom: 1px solid #999999;
    color: #666666;
    font-size: 16px;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

/* Botão Primário */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
    background-color: #446503;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 6px 30px;
    text-transform: uppercase;
}

/* Header */
header.row {
    margin: 0;
    background-color: #344D02;
}

header {
    background: url(/img/topos/topo_1.jpg) center center no-repeat;
}

/* Menu */
.navbar {
    color: #333333;
    margin-bottom: 0;
    min-height: 80px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.navbar-default {
    background-color: #F4F4F4;
    border: none;
    font-size: 16px;
}

@media all and (min-width: 767px) {
    .navbar-default .navbar-collapse {
        text-align: center;
        max-height: 80px;
    }

    .navbar-default .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar-default .navbar-nav > li {
        border-right: 1px solid #BEBEBE;
    }

    .navbar-default .navbar-nav > li.last {
        border: none;
    }
}

.navbar-default .navbar-nav > li > a {
    min-height: 80px;
    padding: 30px 40px 0 40px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:hover {
    color: #333333;
    text-decoration: none;
    border-bottom: 3px solid #5D8C1E;
}

.navbar-default .navbar-nav > li.active {
    border-bottom: 3px solid #5D8C1E;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: inherit;
    color: #333333;
    margin-bottom: -3px;
}

@media all and (max-width: 994px) {
    .navbar-default .navbar-nav > li > a {
        padding: 30px 20px 0 20px;
    }
}

/** Page Header **/
#page-header {
    background-color: #FFFFFF;
    margin: 0;
    padding: 40px 100px 30px 100px;
}

#page-header > div {
    float: none;
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

#page-header > div > h2 {

}

#page-header .texto {
    border-left: 2px solid #333333;
    padding: 10px 0 5px 50px;
}

@media all and (max-width: 767px) {
    #page-header .texto {
        border: none;
        padding: 0;
    }
}

/** Flash Message **/
#message {
    background-color: #FFFFFF;
    padding: 0 100px;
}

/** Content **/
#content {
    color: #666666;
    min-height: 300px;
    padding: 20px 80px;
}

#content p.referencia {
    margin-top: 50px;
    font-style: italic;
}

#content p.arquivo {
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

#content p.autor {
    margin-bottom: 5px;
    color: gray;
    font-size: 0.9em;
    font-style: italic;
}

#content p.autor,
#content p.desc {
    margin-left: 25px;
}

/* Contato */
ul.contato {
    list-style: none;
    padding: 0 20px 0 0;
}

ul.contato li {
    margin-bottom: 50px;
}

ul.contato li h3 {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

ul.contato li p {
    margin: 3px 0 !important;
}

/* Footer */
footer.row {
    margin: 50px 0 0 0;
}

footer {
    color: #FFFFFF;
    font-size: 0.9em;
}

footer a,
footer a:visited {
    font-size: 0.9em;
    color: #FFFFFF;
    text-decoration: underline;
}

footer a:active,
footer a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

footer .panel {
    border-radius: none;
}

footer .panel-default {
    border: none;
}

footer .panel-body {
    background-color: #344D02;
}

footer .panel-body img {
    background-color: #FFFFFF;
    padding: 10px;
}

@media all and (min-width: 768px) {
    footer .panel-body .info {
        text-align: right;
    }
}

footer .panel-footer {
    background-color: #273A01;
    border-top: none;
    text-align: center;
}

/* AJAX Loader */
#loader {  
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;
    opacity: 0.5;
}

.ajax-loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
    width: 64px;
    height: auto;
}

/** Forms **/
form fieldset {
    margin-top: 10px;
    margin-bottom: 20px;
}
form fieldset legend {
    color: #666666;
    font-size: 16px;
    margin-bottom: 40px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #999999;
}

form label {
    font-size: 13px;
    color: #666666;
}

form input:focus {
    border-color: #456602;
    color: #456602;
}

form .input-group {
    margin: 0 0 25px 0;
}

form .input-group-addon {
    background-color: #FFFFFF;
    color: #456602;
    /*font-size: 12px;*/
}

form #MensagemOutrasInformacoes-addon {
    vertical-align: top;
    white-space: normal;
}

form #MensagemOutrasInformacoes {
    min-height: 305px;
    max-width: 490px;
}

form .required label:after {
    content: ' *';
    color: #000000;
    /*color: #CD9B9B;*/
    /*font-size: 0.6em;*/
}

form .required .input-group-addon:before {
    content: '* ';
    color: #000000;
}

form .file {
    margin: 0 0 15px 0;
    background-color: #EAEAEA;
    width: 100%;
}

form .file a {
    padding: 5px 5px;
    color: #660000;
}

form .file a:hover {
    color: #990000;
}

form .file label {
    padding: 6px 0;
}

/** Form errors **/
form .error {
    background: #FFDACC;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: normal;
}

form .error .help-block {
    padding: 0 0 0 10px;
}

form .error-message {
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;
    border: none;
    background: none;
    margin: 0;
    padding-left: 4px;
    padding-right: 0;
}
form .error,
form .error-message {
    color: #9E2424;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
